@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
}

.bg-body-tertiary {
    background: #f9f9fc;
}

.rounded {
    border-radius: 6px;
}

.container-fluid {
    width: 100%;
    padding: 0 40px;
}

.navbar-collapse {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 32px;
}

.nav-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-6 {
    width: 50%;
}

.d-lg-flex {
    display: flex;
}

.justify-content-lg-end {
    justify-content: flex-end;
}

.btn {
    padding: 12px 22px;
    border: 1px solid black;
    cursor: pointer;
    font-weight: 400;
}

.btn-primary {
    background: #5E3BEE;
    color: #fff;
}

.card-body {
    padding: 0;
}

.card-title {
    font-size: 32px;
    font-weight: 700;
}

.card-subtitle {
    font-size: 14px;
}

.text-body-secondary {
    color: rgba(0, 0, 0, 0.6);
}

.mb-2 {
    margin-bottom: 8px;
}

.master-div {
    width: 1440px;
    height: 6309px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    width: 1440px;
    height: 100px;
    background-color: #F9F9FC;
}

.container-fluid ul {
    width: 395px;
    height: 22px;
    position: absolute;
    top: 39px;
    left: 503px;
}

.container-fluid img {
    width: 121px;
    height: 24px;
    position: absolute;
    top: 37px;
    left: 116px;
}

.container-fluid li {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.5px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.container-fluid button {
    width: 124px;
    height: 40px;
    position: absolute;
    top: 30px;
    left: 1200px;
    opacity: 1;
    border-radius: 50px;
    background-color: #5E3BEE;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.5px;
    border: none;
}

.banner {
    width: 1440px;
    height: 737px;
    position: absolute;
    top: 100px;
    background-color: #F9F9FC;
}

.banner img {
    width: 700px;
    height: 686.61px;
    position: absolute;
    top: 16px;
    left: 625px;
}

.lead {
    width: 474px;
    height: 26px;
    position: absolute;
    top: 115px;
    left: 122px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #5E3BEE;
}

.title {
    width: 479px;
    height: 326px;
    position: absolute;
    top: 185px;
    left: 122px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    letter-spacing: 0%;

}

.btn-a {
    width: 204px;
    height: 70px;
    position: absolute;
    top: 535px;
    left: 122px;
    border-radius: 50px;
    background-color: #5E3BEE;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.5px;
    border: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}

.btn-2 {
    width: fit-content;
    height: 23px;
    position: absolute;
    top: 558px;
    left: 364px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.5px;
    border: none;
    color: #333333;
    background-color: #F9F9FC;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.left p {
    color: #5E3BEE;
}

.card {
    width: 1208px;
    height: 90px;
    position: absolute;
    top: 948px;
    left: 116px;
    border: none;
}


.card-body-1 {
    width: 272px;
    height: 88px;
    position: absolute;
    left: 0px;
    margin: 0;

}

.card h5 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.5px;
    text-align: center;
}

.card h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(18, 18, 18, 0.7);
    padding: 20px;
}

.card-body-2 {
    width: 200px;
    height: 88px;
    position: absolute;
    left: 388px;

}

.card-body-3 {
    width: 272px;
    height: 88px;
    position: absolute;
    left: 700px;
}

.card-body-4 {
    width: 272px;
    height: 88px;
    position: absolute;
    left: 999px;
}

.service {
    width: 1208px;
    height: 569px;
    position: absolute;
    top: 1107px;
    left: 115px;
}

.poly {
    width: 86px;
    height: 86px;
    position: absolute;
    top: 27px;
    left: 710px;
    border-radius: 3px solid #f9f9fc;
    z-index: 1;
}

.service-top {
    text-align: center;
    z-index: 2;
}

.service-top h4 {
    width: 85px;
    height: 26px;
    position: absolute;
    top: 60px;
    left: 598px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #5E3BEE;
}

.service-top h1 {
    width: 621px;
    height: 56px;
    position: absolute;
    top: 107px;
    left: 322px;
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0.5%;
}

.service-top p {
    width: 600px;
    height: 58px;
    position: absolute;
    top: 180px;
    left: 332px;
}

.carde {
    width: 356px;
    height: 256px;
    position: absolute;
    top: 280px;
    left: 947px;
    border-radius: 24px;
    box-shadow: 37px 37px 80px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

.card-img-top-3 {
    width: 42px;
    height: 43px;
    position: absolute;
    top: 42px;
    left: 164px;
}

.carde h5 {
    width: 307px;
    height: 32px;
    position: absolute;
    top: 120px;
    left: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: center;

}

.carde p {
    width: 307px;
    height: 63px;
    position: absolute;
    opacity: 1;
    top: 161px;
    left: 31px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(18, 18, 18, 0.7);


}

.carda {
    background-color: rgba(255, 255, 255, 1);
    width: 356px;
    height: 256px;
    position: absolute;
    top: 280px;
    left: 444px;
    border-radius: 24px;
    box-shadow: 37px 37px 80px 0px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.carda img {
    width: 41;
    height: 41;
    top: 45px;
    left: 155px;
    position: absolute;
}

.carda h5 {
    width: 307px;
    height: 32px;
    position: absolute;
    top: 120px;
    left: 22px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: center;
}

.carda p {
    width: 307px;
    height: 63px;
    position: absolute;
    opacity: 1;
    top: 161px;
    left: 22px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(18, 18, 18, 0.7);
    line-height: 32px;
    letter-spacing: 0.5px;
}

.cards {
    background-color: rgba(255, 255, 255, 1);
    width: 356px;
    height: 256px;
    position: absolute;
    top: 280px;
    left: 0px;
    border-radius: 24px;
    box-shadow: 37px 37px 80px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cards img {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 45px;
    left: 157px;
}

.cards h5 {
    width: 307px;
    height: 32px;
    position: absolute;
    top: 120px;
    left: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: center;
}

.cards p {
    width: 307px;
    height: 63px;
    position: absolute;
    opacity: 1;
    top: 161px;
    left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(18, 18, 18, 0.7);
}

.picabout {
    width: 1439px;
    height: 778px;
    position: absolute;
    top: 1816px;
    z-index: 1;
}

.about-backround {
    z-index: 2;
    position: absolute;
}

.about-backround h6 {
    width: 481px;
    height: 26px;
    position: absolute;
    top: 1825px;
    left: 115px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: rgba(94, 59, 238, 1);
}

.about-backround h1 {
    width: 482px;
    height: 326px;
    position: absolute;
    top: 1872px;
    left: 114px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    letter-spacing: 0%;
    color: rgba(51, 51, 51, 1);

}

.about-backround p {
    width: 584px;
    height: 67px;
    position: absolute;
    top: 2215px;
    left: 116px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(51, 51, 51, 1);
}

.about-backround .btn-about {
    width: 204px;
    height: 70px;
    position: absolute;
    top: 2311px;
    left: 114px;
    border-radius: 50px;
    background-color: #5E3BEE;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.5px;
    border: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}

.clients {
    width: 1144px;
    height: 66px;
    position: absolute;
    top: 2721px;
    left: 145px;
    display: flex;
    justify-content: space-between;
}

.protfolio {
    width: 1243px;
    height: 1311px;
    position: absolute;
    top: 2900px;
    left: 81px;
    border-radius: 24px 24px 0 0;
}

.cardto {
    width: 583px;
    height: 532px;
    position: absolute;
    top: 200px;
    left: 30px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 37px 37px 80px 0px rgba(0, 0, 0, 0.1);
}

.cardto h5 {
    width: 363px;
    height: 32px;
    position: absolute;
    top: 424px;
    left: 44px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 1);
}

.cardto p {
    width: 111px;
    height: 24px;
    position: absolute;
    top: 464px;
    left: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.5);
}

.cardte {
    width: 583px;
    height: 532px;
    position: absolute;
    top: 200px;
    left: 681px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.15);
}

.cardte h5 {
    width: 363px;
    height: 32px;
    position: absolute;
    top: 424px;
    left: 44px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 1);
}

.card-text-op {
    width: 111px;
    height: 24px;
    position: absolute;
    top: 464px;
    left: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.5);
}

.cardta {
    width: 583px;
    height: 532px;
    position: absolute;
    top: 800px;
    left: 30px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 37px 37px 80px 0px rgba(0, 0, 0, 0.1);
}

.cardta h5 {
    width: 363px;
    height: 32px;
    position: absolute;
    top: 424px;
    left: 44px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 1);
}

.cardta p {
    width: 111px;
    height: 24px;
    position: absolute;
    top: 464px;
    left: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.5);
}

.cardtel {
    width: 583px;
    height: 532px;
    position: absolute;
    top: 800px;
    left: 681px;
    border-radius: 24px;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.15);
}

.cardtel h5 {
    width: 363px;
    height: 32px;
    position: absolute;
    top: 424px;
    left: 44px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 1);
}

.cardtel p {
    width: 111px;
    height: 24px;
    position: absolute;
    top: 464px;
    left: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.5);
}

.p-top h5 {
    width: 376px;
    height: 26px;
    top: 48px;
    left: 36px;
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: rgba(94, 59, 238, 1);
    z-index: 2;
}

.p-top h1 {
    width: 360px;
    height: 56px;
    top: 90px;
    left: 40px;
    position: absolute;
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0.5%;
    color: rgba(0, 0, 0, 1);
}

.p-top p {
    width: 557px;
    height: 58px;
    top: 70px;
    left: 744px;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(18, 18, 18, 0.7);
}

.abc {
    width: 86px;
    height: 86px;
    left: 11px;
    position: absolute;
    border-radius: 3px;
    z-index: 1;
}

.cardse {
    width: 584px;
    height: 369px;
    top: 370px;
    left: 108px;
    position: absolute;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 27px 37px 80px 0px rgba(0, 0, 0, 0.1);
}

.cardsa {
    width: 584px;
    height: 369px;
    top: 370px;
    left: 750px;
    position: absolute;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 27px 37px 80px 0px rgba(0, 0, 0, 0.1);
}

.cardse h6 {
    color: rgba(238, 192, 28, 1);
    width: 191px;
    height: 24px;
    top: 46px;
    left: 34px;
    position: absolute;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.card-textes {
    width: 484px;
    height: 134px;
    top: 100px;
    left: 48px;
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.db {
    width: 64px;
    height: 64px;
    top: 267px;
    left: 38px;
    position: absolute;

}

.cardse h3 {
    width: 158px;
    height: 32px;
    top: 267px;
    left: 98px;
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Poppins', sans-serif;
}

.me {
    width: 125px;
    height: 24px;
    top: 297px;
    left: 110px;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
}

.cardse h4 {
    width: 45px;
    height: 45px;
    top: 269px;
    left: 467px;
    position: absolute;
    color: rgba(94, 59, 238, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
}

.cardsa h6 {
    color: rgba(238, 192, 28, 1);
    width: 191px;
    height: 24px;
    top: 46px;
    left: 34px;
    position: absolute;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.cardsa h3 {
    width: 158px;
    height: 32px;
    top: 267px;
    left: 98px;
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Poppins', sans-serif;
}

.cardsa h4 {
    width: 45px;
    height: 45px;
    top: 269px;
    left: 467px;
    position: absolute;
    color: rgba(94, 59, 238, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
}

.testimony {
    width: 1440px;
    height: 469px;
    top: 4343px;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(249, 249, 252, 1);
    z-index: 1;
}

.bc {
    width: 86px;
    height: 86px;
    position: absolute;
    top: 35px;
    left: 669px;
    border-radius: 3px;
    z-index: 2;
}

.testimony h5 {
    width: 101px;
    height: 26px;
    top: 84px;
    left: 669px;
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: rgba(94, 59, 238, 1);
    z-index: 3;
}

.testimony h1 {
    width: 489px;
    height: 56px;
    top: 128px;
    left: 475px;
    position: absolute;
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0.5%;
    color: rgba(0, 0, 0, 1);
}

.testing {
    width: 600px;
    height: 58px;
    top: 197px;
    left: 420px;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(18, 18, 18, 0.7);
}

.lightcta {
    width: 1208px;
    height: 471px;
    top: 5217px;
    left: 105px;
    border-radius: 24px;
    position: absolute;
    z-index: 1;
}

.laste {
    font-family: 'Poppins', sans-serif;
    font-weight: 605;
    font-size: 50px;
    line-height: 52px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #333333;
    z-index: 2;
    position: absolute;
    left: 461px;
    top: 5337px;
}

.lasta {
    font-family: 'Poppins', sans-serif;
    font-weight: 601;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #333333;
    z-index: 2;
    position: absolute;
    left: 391px;
    top: 5409px;
}

.cta button {
    width: 204px;
    height: 70px;
    position: absolute;
    top: 5492px;
    left: 607px;
    border-radius: 50px;
    background-color: #5E3BEE;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.5px;
    border: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    cursor: pointer;
}

.footer {
    width: 1208px;
    height: 489px;
    top: 5820px;
    left: 108px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    position: absolute;
    background-color: #333333;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.footlogo {
    width: 264px;
    height: 42px;
    position: absolute;
    top: 126px;
    left: 158px;
}

.foottext {
    width: 369px;
    height: 105px;
    top: 196px;
    left: 149px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    position: absolute;
}

.f-right h5 {
    width: 227px;
    height: 48px;
    top: 122px;
    left: 840px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    text-decoration-color: rgba(147, 151, 156, 0.877);

}

.f-right p {
    width: 369px;
    height: 105px;
    top: 115px;
    left: 810px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    position: absolute;
}

.f-right h4 {
    width: 227px;
    height: 48px;
    top: 174px;
    left: 840px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.f-right h3 {
    width: 369px;
    height: 105px;
    top: 166px;
    left: 810px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    position: absolute;
}

.f-right h2 {
    width: 400px;
    height: 44px;
    font-size: 38px;
    padding-right: 20px;
    position: absolute;
    top: 240px;
    left: 810px;
}

.in {
    width: 400px;
    height: 44px;
    font-size: 40px;
    position: absolute;
    top: 240px;
    left: 880px;
}

.ln {
    width: 400px;
    height: 44px;
    font-size: 38px;
    position: absolute;
    top: 240px;
    left: 950px;
}

.dri {
    width: 400px;
    height: 44px;
    font-size: 38px;
    position: absolute;
    top: 240px;
    left: 1020px;
}

.hr {
    width: 905px;
    position: absolute;
    left: 153px;
    color: #8a8686;
    top: 350px;
}

.texty {
    width: 404px;
    height: 40px;
    position: absolute;
    top: 420px;
    left: 162px;
    display: flex;
    justify-content: space-between;
}

.texty h1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.5px;
}

.texty h2 {

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.5px;
}

.texty h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.5px;
}

.texty h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.5px;
}

.f-bottom h6 {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
    position: absolute;
    top: 412px;
    left: 920px;
}